body
{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
}
.content p
{
    margin-left:2%;
}
.slider
{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-left:-3%;
    margin-top: 5%;
}
.slides
{
    width: 500%;
    height:500%;
    display: flex;
}
.slides input
{
    display: none;
    margin-left: -40%;
}
.slide{
    width:20%;
    transition:2s;
}
.slide video{
    width:800px;
    height: 500px;  
}

.nav-manual{
    position:absolute;
    width:800px;
    margin-top:-40px;
    display:flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid ;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    transition:1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background:center;
}
#radio1:checked ~ .first
{
    margin-left:0 ;
}
#radio2:checked ~ .first
{
    margin-left:-20% ;
}
#radio3:checked ~ .first
{
    margin-left:-40% ;
}
/* css fro automatic nav*/
.nav-auto
{
    position: 2px solid;
    padding:5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div{
    border: 2px solid;
    padding:5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child)
{
    margin-right:40px; 
}
#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: black;
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: black;
}
#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: black;
}